<!DOCTYPE html>
<html>
    <head>
        <title>Wether</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather!</p>

            <form action="">
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        <script type="text/javascript" src="https://widgets-viewer.climacell.co/v1/sdk.js"></script>
        <div class="climacell-widget" data-apikey="cU4yuRdZFLS4V7TAVxYJtOcDyRvD5fUq" data-type="nowcast" data-location-name="Skopje, North Macedonia" data-location-lon="21.4254355" data-location-lat="41.9981294" data-size-mode="large" data-font-color="#000" data-background-color="#fff" data-font-family="verdana" data-weather-params="temp:C,precipitation:mm/hr,wind_speed:mph,humidity:%,cloud_cover:%" data-precipitation-timeline="true" data-allow-users-enter-address="true" ></div>
        <script src="/js/app.js"></script>        
        {{>footer}}
    </body>
</html>